<a href="https://colab.research.google.com/github/AndresVelezR/python-pip/blob/main/Copia_de_DataFrames_with_Pandas_Light_version.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is Pandas?

`Pandas` is a Python library designed for tabular data handling. This data can be strings, numbers, dates and time series. A **DataFrame** is a two-dimensional data structure (rows by columns). The columns contain the variables, and the rows contain the observations. The columns can be heterogeneous and handle different types of data. The advantage of working with DataFrames is that they can be grouped, fill in missing data, and create pivot tables, among others.

DataFrames can be created empty, they can be created from NumPy arrays, or they can be created from database files stored on your computer.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## Creating an empty DataFrame

First, we will create an empty DataFrame. It is important to remember to load the Pandas library and assign the alias to it.

In [ ]:
# Import the Pandas library and assign it the alias pd
import pandas as pd

# Create an empty DataFrame
df = pd.DataFrame()

# Print dataFrame header
df.head()

## Creating a DataFrame from a dictionary

We can also create a DataFrame from the Python *dictionary* data type.

In [ ]:
# Create a dictionary of lists, he keys will be the names of the columns and the lists will form the rows.
data =  {'Name': ['Juana', 'Luis', 'Marcela', 'Ramiro'], 'Age': [23, 45, 46, 52]}

# Create the pandas DataFrame
df = pd.DataFrame(data)

# Print dataFrame header
df.head()

We can also generate a DataFrame from a list of dictionaries, where each dictionary will be an observation.

In [ ]:
# Create the list of dictionaries
data = [{'Name': 'Juana', 'Age': 23}, {'Name': 'Luis', 'Age': 45},
        {'Name': 'Marcela', 'Age': 46}, {'Name': 'Ramiro', 'Age': 52}]

# Create the pandas DataFrame
df = pd.DataFrame(data)

# Print dataFrame header
df.head()

## Pandas series

**Pandas Series** is a one-dimensional sequential data structure capable of handling any data type. Series is one of the columns of a DataFrame. We can create a Series using a Python dictionary, a NumPy numeric array or a scalar value. Like DataFrames, Series have several ways to be created. We will explore the different alternatives below.

### Using a Python dictionary

In [ ]:
# Creating Pandas Series using Dictionary
dict1 = {0 : 'Apple', 1 : 'Banana', 2 : 'Lemon'}

# Create Pandas Series
series = pd.Series(dict1)

# Show series
series

0     Apple
1    Banana
2     Lemon
dtype: object

### Using a NumPy array

<div class="alert alert-warning"> Remember to import the needed libraries, as <strong><code>numpy</code></strong> in this case. We have not loaded the <strong><code>pandas</code></strong> library because we have already run it before, but if it is done on a new notebook, we must also load it. </div>

In [ ]:
# Remember to import the needed libraries
import numpy as np

# Create NumPy array
temporal = np.array([42, 35, 86, -25, 98])

# Create Pandas Series
series = pd.Series(temporal)

# Show series
series

0    42
1    35
2    86
3   -25
4    98
dtype: int64

### Using a scalar value

In [ ]:
# Create Pandas Series
series = pd.Series(10, index = [0, 1, 2, 3, 4, 5])

# Show series
series

### Selecting a column from a datafile

We can create a series from a column of a datafile. For this case, we will load a database with `csv` extension that we have previously downloaded to our computer.

<div class="alert alert-info"><strong>Important:</strong> in case the file containing the database is not located in the same folder of the notebook in which you are working, in the space where you put the name, you must specify the complete path, including the subfolders where it is located.</div>

In [1]:
# Import pandas
import pandas as pd

# Load data using read_csv()
df = pd.read_csv("WHO_first9cols.csv")

# Show initial 5 records
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'WHO_first9cols.csv'

In [ ]:
# Select a series
data = df['Country']

# Check data type
type(data)

DataFrames and Series share some attributes, which are listed as follows

In [ ]:
# Show the shape of DataFrame
print("Shape:", df.shape)

Shape: (52, 8)

In [ ]:
# Check the column list of DataFrame
print("List of Columns:", df.columns)

List of Columns: Index(['Categoría', 'Nombre', 'Dirección', 'Teléfono', 'Servicios', 'Latitud',
       'Longitud', 'Turismo Santuario'],
      dtype='object')

In [ ]:
# Show the datatypes of columns
print("Data types:", df.dtypes)

Data types: Categoría             object
Nombre                object
Dirección             object
Teléfono              object
Servicios             object
Latitud              float64
Longitud             float64
Turismo Santuario     object
dtype: object

### Filtering columns

It is possible to select only some columns with Pandas, let's see it next.

In [ ]:
# Select columns
df_filtered = df[['Continent','Country']]

# Show initial 5 records
df_filtered.head()

### Filtering rows

Similarly, we can also filter by rows, but it works a little differently by filtering the observations, not the variables.

In [ ]:
# Select rows using index
df[20:30]

### Boolean filtering

We can query data using Boolean conditions. Let's filter the data greater than the arithmetic mean:

In [ ]:
# Boolean Filter
df[df['Continent'] == 7]

### Describing DataFrames

DataFrames also have several statistical methods that can be used to describe the available data sets. Let's review some of them.

- The `describe()` method will show most of the descriptive statistical measures for all columns:

In [ ]:
# Load data using read_csv()
df = pd.read_csv("WHO_first9cols.csv")

# Describes de dataset
df.describe()

- The `count()` method counts the number of observations in each column. It helps us to check the missing values in the dataset. Except for the initial three columns, all the columns have missing values.

In [ ]:
# Count number of observation
df.count()

Categoría            52
Nombre               52
Dirección            52
Teléfono             52
Servicios            52
Latitud              52
Longitud             52
Turismo Santuario    52
dtype: int64

- Similarly, you can compute the `median`, `standard deviation`, `mean absolute deviation`, `variance`, `skewness`, and `kurtosis`.

In [ ]:
# Compute median of all the columns
df.median()

In [ ]:
# Compute the standard deviation of all the columns
df.std()

### Grouping Dataframe

Grouping operations are based on the split-apply-combine strategy. It first divides data into groups and applies the aggregate operation, such as `mean`, `min`, `max`, `count`, and `sum`, on each group and combines results from each group.

In [ ]:
# Group on the basis of Country column and calculates the mean
df.groupby('Continent').mean()

KeyError: 'Continent'

In [ ]:
# Group on the basis of continent and select adult literacy rate (%)

df.groupby('Continent').mean()['Adult literacy rate (%)']

# Activity 2

## Exercise 1.

Download a database from [Datos abiertos](https://www.datos.gov.co/). You can choose any database you prefer. The important thing is that it contains at least 20 observations (rows) and 5 characteristics (columns). Load it and save it in a variable called `data`.

In [ ]:
#solution exercise 1


import pandas as pd
df=pd.read_csv('bdd.csv',sep=',',header=0)
df


df.head()

,Categoría,Nombre,Dirección,Teléfono,Servicios,Latitud,Longitud,Turismo Santuario
0,Alojamientos,Hostal Don Rafa,Calle 7 # 6-50,3234536440 - 3116228702,Hospedaje,5.073652,-75.963068,POINT (-75.96306835772577 5.073651645797149)
1,Alojamientos,Hotel Montes,Carrera 5 # 5-54,3146806584,Hospedaje,5.072750,-75.962139,POINT (-75.96213946642965 5.072749849966402)
2,Alojamientos,Hotel Santuario Plaza,Carrera 5 # 6-22 Plaza principal,3164501515,Hospedaje,5.073168,-75.962059,POINT (-75.9620593622442 5.073168016321599)
3,Alojamientos,Finca Cafetera La Primavera,Km 4 vía Corinto/Peralonso,3155302557,"Hospedaje, alimentación, recorridos",4.980643,-75.909991,POINT (-75.90999100473529 4.980643138181126)
4,Alojamientos,La Cabañita,"Vereda La Bretaña, sector La Marina",3146943348 - 3505417858,"Hospedaje, glamping, alimentación, piscina, se...",5.051729,-75.946942,POINT (-75.9469422239791 5.051729365166298)

## Exercise 2.

Generates two Series with two different database columns. Call them `Series1` and `Series2`, respectively

In [ ]:
# Select a series
Series1 = df['Categoría']
Series2 = df["Categoría"]

type(Series1)
type(Series2)

## Exercise 3.

Create a group according to one of the characteristics of your database. Call it `Group1`

In [ ]:
#solution exercise 3
Group1 = df.groupby('Latitud')
Group1

## Exercise 4.

Filter your database considering only three columns and 10 observations (you can choose freely). Display the result. Calculate the average of one of the numeric columns. What can you interpret from the results?

In [ ]:
#solution exercise 4
df.iloc[0:10,0:3]
df.Latitud.mean()

5.072505467847445